#!/bin/bash

USER=$(whoami)
DESCRIPTION={{DESCRIPTION}}
WORKING_DIRECTORY={{WORKING_DIRECTORY}}
EXEC_START={{EXEC_START}}

[Unit]
Description=$DESCRIPTION
StartLimitIntervalSec=500
StartLimitBurst=5
Restart=on-failure
RestartSec=5s

[Service]
Type=simple
User=$USER
WorkingDirectory=$WORKING_DIRECTORY
ExecStart=$EXEC_START

[Install]
WantedBy=multi-user.target